$no-js-logo-height: 80px;
$no-js-gap-logo-message: 15px;

$no-js-container-width: 300px;
$no-js-container-height: 180px;
$no-js-container-padding: 10px;

$no-js-full-height: $no-js-container-height + $no-js-logo-height + ($no-js-container-padding * 2) + $no-js-gap-logo-message;

body {
	&.NO-JAVASCRIPT {
		/*
			Hidding everything if js support is not found
		*/
		> .Section {
			display: none;
		}
	}
}


@mixin fadeIn($duration) {
    -webkit-animation: fadein $duration; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein $duration; /* Firefox < 16 */
        -ms-animation: fadein $duration; /* Internet Explorer */
         -o-animation: fadein $duration; /* Opera < 12.1 */
            animation: fadein $duration;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#no-js-container {
	display: none;

	margin-top: 4rem;

    @include fadeIn(3s);

	h1 {
		text-align: center;
		color: $cherryRed;
		margin-bottom: 0;
    		text-decoration: line-through;
	}

	h2 {
		text-align: center;
		text-transform: uppercase;
	}

	.siganture {
		text-align: right;
		color: $nightBlack;
	}

	.NO-JAVASCRIPT & {
		display: block !important;
	}
}