#KeySkills {
	.skill-box {
		margin-bottom: 3rem;

		h5 {
			margin-bottom: 0;
		}

		.progress-bar {
			position: relative;
			border-radius: 5px;
			background-color: lighten($nightBlack, 75%);
			height: 1rem;

			overflow: hidden;

			> div {
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;

				background: $successGreen;
				background: repeating-linear-gradient(
					45deg,
					$successGreen,
					$successGreen 10px,
					darken($successGreen, 5%) 10px,
					darken($successGreen, 5%) 20px
				);
			}

			&.percents-100 {
				> div {
					width: 100%;
				}
			}
			&.percents-95 {
				> div {
					width: 95%;
				}
			}
			&.percents-90 {
				> div {
					width: 90%;
				}
			}
			&.percents-85 {
				> div {
					width: 85%;
				}
			}
			&.percents-75 {
				> div {
					width: 85%;
				}
			}
		}
	}
}