$default-font-family: "Raleway", "Helvetica", "Open Sans", "Arial";

@import "Styles/fonts";
@import "Styles/normalize";
@import "Styles/Skeleton";

/*
	Variables
*/
$default-font-family: "Open Sans", "Helvetica", "Arial";
$default-font-color: #5e5e5e;
$border-color: rgba(0,0,0,.1);
$default-border-radius: 3px;

// Colors
$themeGray: $default-font-color;
$nightBlack: #000;
$deepLake: #263543;
$snowWhite: #ffffff;
$cherryRed: #ca3a3c;
$smoothMetal: #728da1;
$woodBrown: #584640;
$successGreen: #2eb267;

%default-box-shadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

/*
	Global styles
*/
body {
    color: $default-font-color;
}

.Section {
    margin-bottom: 3rem;

    .container {
		max-width: 100%;
	}

    h3 {
        text-align: center;
    }

}

.bold-text {
    font-weight: bold;
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

/*
	Features
*/
@import "Styles/images";
// @import "Styles/wrapper";
@import "Features/availabilityStatus/availabilityStatus";
@import "Features/jsDetect/jsDetect";

/*
    Sections
*/
@import "Sections/Header/Header";
@import "Sections/Summary/Summary";
@import "Sections/Employment/Employment";
@import "Sections/Education/Education";
@import "Sections/KeySkills/KeySkills";