/*
	Variables
*/
$default-font-size: 12px;
$default-margin: 80px;
$default-padding: 100px;
$wrapper-max-width: 1100px;

$default-font-family: "Open Sans", "Helvetica", "Arial";
$default-font-color: #5e5e5e;
$border-color: rgba(0,0,0,.1);
$default-border-radius: 3px;

// Colors
$themeGray: $default-font-color;
$deepLake: #263543;
$snowWhite: #ffffff;
$cherryRed: #ca3a3c;
$smoothMetal: #728da1;
$woodBrown: #584640;

%default-box-shadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

/*
	Global styles
*/
html, body {
    background-color: darken($snowWhite, 85%);

    height: 100%;
    margin: 0;
    padding: 0;

    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $default-font-color;

    overflow: hidden;
}

h1 {
    margin: 10px 0;
    padding: 0;

    font-family: $default-font-family;
    font-size: 38px;
    line-height: 1.2em;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;

    color: $default-font-color;
}

h2 {
    margin: 0;
    padding: 0;

    font-family: $default-font-family;
    font-size: 14px;
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 600;
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
	Features
*/

@import "images";
@import "Features/jsDetect/jsDetect";