#Header {
	$avatar-size: 100px;

	background-color: $nightBlack;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;

	position: relative;
	margin-bottom: 10rem;
	padding: 8rem 0;

	@extend %header-image;

	.NOT-LATEST-VERSION & {
		margin-bottom: 12rem;
	}

	.avatar {
		position: absolute;
		left: 50%;
		top: 100%;

		background-size: 100% 100%;
		background-repeat: no-repeat;

		border-radius: 360px;
		margin: 0 auto;

		height: $avatar-size;
		width: $avatar-size;
		margin-left: -($avatar-size/2);
		margin-top: -($avatar-size/2);

		@extend %avatar-image;
	}

	.title {
		text-align: center;

		h1 {
			font-weight: bold;
			color: $snowWhite;
			text-shadow: 1px 1px 1px $nightBlack;

			margin: 0;
		}

		h3 {
			color: $nightBlack;
			opacity: 0.5;
		}
	}
}

@media print {
	#Header {
		padding: 2rem 0 !important;
		margin-bottom: 0 !important;
	}
}

/* Larger than mobile */
@media (min-width: 400px) {
	#Header {
		$avatar-size: 125px;

		padding: 10rem 0;

		.avatar {
			height: $avatar-size;
			width: $avatar-size;
			margin-left: -($avatar-size/2);
			margin-top: -($avatar-size/2);
		}
	}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	#Header {
		$avatar-size: 150px;
		background-size: 100% auto;
		padding: 12rem 0;

		.avatar {
			height: $avatar-size;
			width: $avatar-size;
			margin-left: -($avatar-size/2);
			margin-top: -($avatar-size/2);
		}
	}
}

/* Larger than tablet */
@media (min-width: 750px) {
	#Header {
		$avatar-size: 175px;
		padding: 16rem 0;

		.avatar {
			height: $avatar-size;
			width: $avatar-size;
			margin-left: -($avatar-size/2);
			margin-top: -($avatar-size/2);
		}

	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	#Header {
		$avatar-size: 200px;

		padding: 18rem 0;

		.avatar {
			height: $avatar-size;
			width: $avatar-size;
			margin-left: -($avatar-size/2);
			margin-top: -($avatar-size/2);
		}
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	#Header {
		$avatar-size: 225px;

		padding: 20rem 0;

		.avatar {
			height: $avatar-size;
			width: $avatar-size;
			margin-left: -($avatar-size/2);
			margin-top: -($avatar-size/2);
		}
	}
}