.table-block {
    display: table;
    width: 100%;
}
.table-block-row {
    display: table-row;
    width: 100%;
}

.table-block-cell {
    display: table-cell;
}

#contacts {
    margin: 0 $default-padding;

    .table-block-cell {
        width: 50%;

        .contact-item {
            display: block;
            margin: .5em;
            padding: 1em;
            border: 1px $border-color dashed;
            overflow: hidden;

            > span {
                white-space: nowrap;
                float: left;

                &:first-child {
                    color: $cherryRed;
                    width: 30%;
                    font-weight: bold;
                }
                &:last-child {
                    text-align: right;
                    color: $deepLake;
                    width: 70%;
                }
            }
        }

    }
}