$flag-size: 24px;
$flag-icons: (
    'uk',
    'lt',
    'pl',
    'ru'
);
#language-selector {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;

    li {
        display: inline-block;
        height: $flag-size;
        width: $flag-size;
        margin: 0 2px;
        cursor: pointer;

        background-repeat: no-repeat;
        opacity: 0.4;

        &:hover, &.active {
            opacity: 1;
        }

        @each $icon in $flag-icons {
            &.#{$icon} {
                background-image: url("../Images/#{$icon}.png");
            }
        }
    }
}