$default-font-size: 16px;
$default-margin: 80px;
$default-padding: 100px;
$wrapper-max-width: 1100px;

$default-font-family: "Open Sans", "Helvetica", "Arial";
$default-font-color: #5e5e5e;
$border-color: rgba(0,0,0,.1);

// Colors
$themeGray: $default-font-color;
$deepLake: #263543;
$snowWhite: #ffffff;
$cherryRed: #ca3a3c;
$smoothMetal: #728da1;
$woodBrown: #584640;