#wrapper {
    position: relative;
    background-color: $snowWhite;

    margin: $default-margin auto;
    max-width: 1100px;
    padding: $default-padding $default-padding 0;
    overflow: hidden;

    border-color: $border-color;
    border-style: solid;
    border-width: 1px;

    > header {
        text-align: center;

        .logo {
            background-image: url("../Images/logo.png");
            background-repeat: no-repeat;
            background-position: top center;
            background-size: auto 100%;
            height: $default-padding + 30;
        }

        h1 {
            color: $cherryRed;
        }

        .sub-title {
            h2 {
                display: inline-block;
                margin: 0 auto;
                background-color: $snowWhite;

                padding: 0 10px;
            }
        }
    }

    .overlay-line-container {
        position: relative;

        .overlay-line {
            position: absolute;
            left: $default-padding;
            right: $default-padding;
            top: 50%;

            margin-top: -1px;

            border-bottom: 2px $border-color solid;

            z-index: -1;
        }
    }

    .block-divider {
        height: 0px;
        margin: 1em 0;
        border-width: 1px;
        border-color: $cherryRed;
        border-style: dashed;
        border-top: none;
    }

}